@import '~styles/settings.scss';

.dropdownOptionWithArrow :global {
  .react-selectize-control {
    border-color: $white !important;

    .react-selectize-placeholder {
      color: $white !important;
    }

    .react-selectize-toggle-button-container {
      svg {
        fill: $white;
      }
    }
  }

  .option-wrapper {
    border-bottom: solid 1px $white !important;
  }

  .dropdown-menu {
    border: solid 1px $white !important;
  }

  .highlight {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      bottom: 0;
      width: 14px;
      height: 14px;
    }
  }
}
