@import '~styles/settings.scss';
@import '~styles/layout.scss';

$sticky-header-fixed-height: 43px;

.page {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  margin-bottom: 100px;
}

.section {
  background-image: $blue-gradient;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $blue-gradient;
    z-index: -1;
  }
}

.stickyWrapper {
  .stickySectionTitle {
    visibility: visible;
  }

  :global {
    .sticky-inner-wrapper {
      z-index: 3 !important; // override 3rd party attribute
      background-image: $blue-gradient;
    }
  }
}

.fullHeader {
  @include row();
  // fixed sticky section title which is not visible has this height
  margin-bottom: -$sticky-header-fixed-height;
}

.stickyContent {
  @include row();
}

.nav {
  display: flex;
  padding-top: $gutter-padding / 2;
}

.active {
  border-bottom: 3px solid $theme-color;
}

.sectionTitle {
  color: $white;
  font-size: $font-size-xxl-large;
  font-weight: 300;
  line-height: 1.19;
  letter-spacing: -1.3px;
  padding-top: $gutter-padding * 2;
  padding-bottom: 10px;
}

.stickySectionTitle {
  visibility: hidden;
  color: $white;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1.19;
  letter-spacing: -1.3px;
  padding: {
    top: 15px;
    bottom: 0;
  }
}

.descContainer {
  @include columns((6, 3, 3));

  padding-bottom: $gutter-padding * 2;

  @media #{$tablet-landscape} {
    display: flex;
    align-items: center;
  }
}

.sectionDescription {
  color: $white;
  line-height: 1.6;
}