@import '~styles/layout.scss';

$bucket-size: 14px;

.container {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.title {
  font-size: $font-size-s;
  color: $dark-gray;
}

.bucket {
  width: $bucket-size;
  height: $bucket-size;
  display: inline-block;
}
