@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding;
}

.dropdowns {
  @include columns($columns: 12);

  @media #{$tablet-landscape} {
    padding-left: $gutter-padding / 2;

    @include columns($columns: (3,3,3,3));
  }
}

.buttonWrapper {
  margin-top: 22px;
  max-width: 100px;
}

.chartMapContainer {
  @include row(12);

  @media #{$tablet-landscape} {
    @include row((8,4));
  }
}

.chartContainer {
  min-height: 500px;
}

.legend {
  margin-top: $gutter-padding;
}

.projectedLegend {
  margin-left: 0;
}
