@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding;
}

.dropdowns {
  @include columns($columns: 12);

  @media #{$tablet-landscape} {
    @include columns($columns: (3,3,3.8,2.1));
  }
}

.buttonWrapper {
  margin-top: 22px;
  max-width: 100px;
}

.chartMapContainer {
  @include columns($columns: 12);

  @media #{$tablet-landscape} {
    @include columns($columns: (7.5,4.5));
  }
}

.chartContainer {
  min-height: 500px;
}

.legend {
  margin-top: $gutter-padding;
}

.projectedLegend {
  margin-left: 0;
}
