@import 'settings';

:global {
  .global_Tooltip {
    font-family: $font-family-3;
    padding: 15px;
    color: $theme-color !important;
    background-color: $white !important;
    font-size: $font-size-xs;
    letter-spacing: -0.1px;
    box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);

    &::after { // Hides the arrow
      display: none;
    }
  }

  .global_blueTooltip {
    font-family: $font-family-1;
    padding: 15px;
    font-size: $font-size-xs;

    &.__react_component_tooltip.type-dark {
      color: $white;
      background-color: $midnight-blue;
      border-radius: 3px;
    }
  }
}
