@import 'settings';

:global {
  .global_Tooltip {
    font-family: $font-family-3;
    padding: 15px;
    color: $theme-color !important;
    background-color: $white !important;
    font-size: $font-size-xs;
    letter-spacing: -0.1px;
    box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);

    &::after { // Hides the arrow
      display: none;
    }
  }
}
