@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding;
}

.actions {
  @include columns($columns: (4,2));
}

.input {
  border: solid 1px $border-color;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  max-width: 100px;
}

.tableContainer {
  margin-top: 50px;
}
