@import '~styles/settings.scss';
@import '~styles/layout.scss';

.mapSection {
  background-color: $link-water;
  margin-bottom: 50px;
}

.page {
  @include row();

  margin-top: $gutter-padding;
}

.mapContainer {
  @include row();
}

.dropdowns {
  @include columns($columns: 12);

  margin-bottom: 25px;

  @media #{$tablet-landscape} {
    padding-left: $gutter-padding / 2;

    @include columns($columns: (3,3,1.5));
  }
}

.buttonWrapper {
  align-self: flex-end;
  max-width: 100px;
}

.map {
  height: calc(100% - 100px);
  position: relative;
}

.timelineWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.legend {
  margin-bottom: 30px;

  @media #{$tablet-landscape} {
    margin-top: -100px;
    margin-bottom: 0;
  }
}

:global {
  .tooltip {
    &.__react_component_tooltip.type-dark {
      color: $black;
      background-color: $white;
      opacity: 1;

      &::after {
        border-top-color: $white;
      }
    }
  }
}
