@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding * 3;
}

.container {
  @include columns($columns: 12);

  @media #{$tablet-landscape} {
    padding-left: $gutter-padding / 2;

    @include columns($columns: (6,6));
  }
}

.toolbox {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;

  > * {
    margin-right: $gutter-padding / 2;
  }
}

.dropdown {
  max-width: 200px;
}

.buttonWrapper {
  align-self: flex-end;
  max-width: 100px;
}

.vulnerabilityClass {
  font-size: $font-size;
  color: $midnight-blue;
}

.box {
  margin-top: 60px;
  border-radius: 6px;
  box-shadow: 0 2px 20px 0 $box-shadow;
}

.radarChart {
  :global(.recharts-polar-angle-axis-tick-value) {
    font-size: $font-size-s;
    fill: $midnight-blue;
  }

  :global(.recharts-default-tooltip) {
    background: $white;
    padding: 15px;
    box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);
    border: none !important;
    border-radius: 4px;

    :global(.recharts-tooltip-label) {
      font-weight: bold;
    }
  }
}

.boxHeader {
  height: 100px;
  line-height: 100px;
  font-size: $font-size;
  color: $midnight-blue;
  padding-left: 29px;
  border-radius: 6px 6px 0 0;
  background-color: $link-water;
}

.boxFooter {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  color: $midnight-blue;
  font-size: $font-size-sm;
}

.indexValue {
  font-weight: bold;
}

.indexDate {}
