@import '~styles/settings.scss';
@import '~styles/layout.scss';

$map-legend-height: 50px;

.mapContainer {
  min-height: 500px;
  margin-bottom: 100px;
  background: #ecf1fa;
}

.map {
  height: calc(100% - #{$map-legend-height});
  position: relative;
  padding: 30px 0;
}

.mapLegendContainer {
  height: $map-legend-height;
}