@import '~styles/base.scss';
@import '~styles/settings.scss';

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.appContent {
  padding-top: $header-height;
}

.link {
  display: flex;
  align-items: center;
  color: $theme-color;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;

  &.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: #ffc735;
    width: 100%;
    height: 3px;
  }

  @media #{$tablet-landscape} {
    text-decoration: none;
    position: relative;
    height: 100%;
    font-family: $font-family-1;

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ffc735;
      width: 100%;
      height: 3px;
    }
  }
}
