@import '~styles/settings.scss';
@import '~styles/layout.scss';

.wrapper {
  @include row();

  flex-direction: column;
  height: 700px;

  @media #{$tablet-portrait} {
    height: 1080px;
  }

  @media #{$tablet-landscape} {
    height: 800px;
  }
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'bg-story'
    'small-story-1'
    'small-story-2';
  grid-gap: 20px;

  > a {
    grid-area: small-story-1;
  }

  & :last-child {
    grid-area: small-story-2;
  }

  & :first-child {
    grid-area: bg-story;
  }

  margin-bottom: 50px;

  @media #{$tablet-landscape} {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'bg-story small-story-1'
      'bg-story small-story-2';
  }
}

.story {
  background-image: url('assets/province-image.png');
  background-size: cover;
  background-position: center;
  height: 100%;
}
