@import '~styles/settings.scss';
@import '~styles/layout.scss';

$borderRadius: 4px;

.input {
  border: solid 1px $border-color;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.wrapper {
  border-radius: $borderRadius;
  color: $marine-blue;
}

.buttonWrapper {
  max-width: 100px;
}

.tableContainer {
  margin-top: 50px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
